.why {
    border-radius: 20px;
    background-color: lightgrey;
    color: red;
    height: 50px;
    width: 50px;
    border: none
}

.client {
    background-image: url(./PICS/stats-bg.jpg);
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.project {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.menuitem{
    border: none;
}

.menu{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.dishname{
    font-weight: bold;
}

.dollar{
    font-weight: bold;
    color: red;
    font-size: large;
}

.testi{
    border-radius: 200px;
    height: 200px;
    width: 200px;
}

.star{
    color: gold;
}

