* {
    font-family: 'Croissant One', cursive;
    ;
}

.nav-link {
    color: gray !important;
}

.nav-link:hover {
    color: black !important;
}


.row .why {
    align-items: center !important;
}

.a{
    animation-name: first;
    animation-duration: 2s;
}

@keyframes first {
    from{
        transform: scale(1.3);
    }
    to{
        transform: scale(1.0);
    }
}

.client {
    background-image: url(./PICS/stats-bg.jpg);
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.project {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.btnn {
    background-color: red !important;
    border-radius: 25px;
    border: none;
    height: 50px;
    width: 50px;
    font-size: larger;
    color: white;
    margin: 5px;
}

.menuitem {
    border: none;
}

.menu {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.dishname {
    font-weight: bold;
}

.dollar {
    font-weight: bold;
    color: red;
    font-size: large;
    text-decoration: underline 3px red;
}

.testi {
    border-radius: 200px;
    height: 200px;
    width: 200px;
}

.star {
    color: gold;
}


.card-img-overlayy {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: var(--bs-card-img-overlay-padding);
    border-radius: var(--bs-card-inner-border-radius);
    background-color: black;
    opacity: 0.5;
}

.card-img-overlayy:hover {
    opacity: 1;
}

.chefs {
    text-align: center;
}


.yum:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.5s;
    /* width: 18rem; */
    /* height: 24rem; */
}

.cooks:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.5s;
     /* width: 16rem; */
     /* height: 26rem; */
}

.book {
    /* margin-top: 100px; */
    padding: 2%;
    
}

.book input {
    height: 40px;
    max-width: 100%;
    padding: 5px 10px;
    margin: 10px 8px;
    border-radius: 10px;
    border-color: lightgray;
    border: 20px;
}

.book textarea {
    /* height: 40px; */
    max-width: 89%; 
    padding: 5px 10px;
    margin: 10px 8px;
    border-radius: 10px;
    border-color: lightgray;
    border: 20px;
}


.con {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    font-size: x-large;
    color: white;
    background-color: red;
    border: none;
}

.cont {
    padding: 8px 16px;
}

.conf input {
    height: 50px;
    width: 587px;
    padding: 15px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    border-color: black;
    display: inline;
}

.conf textarea {
    padding: 15px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    border-color: black;
}

.footer {
    background-color: black;
    padding: 15px;
    color: white;
}

.flw {
    border-color: #fff;
    background: none;
    border-radius: 25px;
    border-color: white;
    height: 50px;
    width: 50px;
    color: white;
    font-size: x-large;
    margin: 5px;
}



.texta {
    height: 130px !important;
    width: 500px !important;
}

.res {}

.info {
    background-color: lightgrey;
    height: 120px;
    width: 100%;
    margin: 10px;
}

.galleryy {
    background-color: lightgray;
    height: 600px;
}


.gal img {
    height: 400px;
   
}

.abimg {
    height: 100%;
    width: 95%;
}

.dt{
    width: 28.5%;
}

.ti{
    width: 28.5%;
}

@media screen and (max-width:992px) {

    .galleryy{
        height: auto;
    }
    .gal img {
        height: 400px;
    }
    .gall{
        margin: 10px;
    }

    .eve{
        margin: 10px;
    }

    .toogleee{
        display: flex;
        flex-direction: column;
    }

    .dis2{
        display: none;
    }

    /*.yum:hover {
        transform: scale(1.1);
        transition: ease-in-out 0.5s;
        width: 18rem;
         height: 10%;
    } */
    
   
}

@media screen and (max-width:768px) {
    

    .colss{
        display: flex;
        flex-direction: column;
    }

    .dis2{
        display: none;
    }
}

@media screen and (max-width:425px) {
   
}

@media screen and (max-width:375px) {
}

@media screen and (max-width:320px) {
    .flw {
        border-color: #fff;
        background: none;
        border-radius: 25px;
        border-color: white;
        height: 35px;
        width: 35px;
        color: white;
        font-size: large;
        margin: 5px;
    }
}