* {
    margin: 0;
    padding: 0;
}

.steps {
    display: block;
    position: relative;
    margin-top: 100px;
}

.main-banner {
    position: absolute;
    z-index: -10;
    left: 0px;
    right: 0px;
    object-fit: cover;
}

.navbar ul li {
    display: block;
    position: relative;
    margin-right: 45px;
    font-size: 16px;
}

.navbar-collapse ul li {
    font-weight: 600;
}

.btnhover {
    color: #fff;
    cursor: pointer;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btnhover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btnhover:focus {
    outline: none;
}

.ud {
    width: 50%;
}

.btnhover.color-4 {
    background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}

.img-bg {
    position: absolute;
}

.join {
    padding-top: 50%;
}

.image-container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 40%;
    left: 36%;
    transform: translate(-50%, -50%);
    color: white;
    width: 600px;
    padding: 20px;
    border-radius: 10px;
}

.location {
    position: absolute;
    top: 55%;
    left: 37%;
    transform: translate(-50%, -50%);
    color: white;
    width: 600px;
    display: flex;
}

.searchbtn {
    width: 250px;
    background-color: orange;
    color: white;
    font-weight: bold;
}

.bncard {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.clr {
    background-color: #22262f;
    opacity: 85%;
    color: white;
    width: 100%;
    height: 100%;
}

.clr h5 {
    color: gold;
}

.map {
    position: relative;
}

.map-overlay {
    position: absolute;
    top: 25%;
    left: 36%;
    transform: translate(-50%, -50%);
    color: white;
    width: 600px;
    padding: 20px;
    border-radius: 10px;
    font-size: 70px;
}

.card-1 {
    position: absolute;
    top: 63%;
    left: 36%;
    transform: translate(-50%, -50%);
    color: white;
    width: 600px;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
}

.play {
    position: absolute;
    top: 85%;
    left: 36%;
    transform: translate(-50%, -50%);
    color: white;
    width: 600px;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
}

.bg3 {
    background-image: url('./images/footer-bg.jpg') !important;
}

footer .top-footer {
    position: relative;
    padding: 75px 0;
}

.text-right {
    text-align: right !important;
}

.fixed-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

footer .bottom-footer {
    background-color: #141519;
    padding: 12px 0 11px;
}

footer .bottom-footer .copyright p {
    color: #fff;
    opacity: 0.7;
}

footer .bottom-footer .find-us .social-links-text {
    display: inline-block;
}

footer .bottom-footer .find-us .social-links-text li {
    display: inline-block;
    position: relative;
    padding: 0 15px 0 22px;
    list-style: none;
}

@media screen and (max-width:2560px) {
    .india {
        height: 800px;
    }

    .kt {
        margin-top: 2%;
    }

    /* .steps{
        margin-top: 300px;
    } */
}

@media screen and (max-width:1880px) {
    .steps {
        margin-top: 50px;
    }
}

@media screen and (max-width:1440px) {

    .steps {
        margin-top: 50px;
    }

    .kt {
        margin-top: 0%;
    }

    .map-overlay {
        top: 25%;
        left: 36%;
        transform: translate(-50%, -50%);
        padding: 20px;
        border-radius: 10px;
        font-size: 50px;
    }
}

@media screen and (max-width: 1400px) {
    .main-banner {
        height: 700px;
    }
}


@media screen and (max-width:1200px) {

    .steps {
        margin-top: 100px;
    }

    .join {
        padding-top: 45%;
    }

}

@media screen and (max-width: 1024px) {

    .map-overlay {
        top: 15%;
        left: 36%;
        transform: translate(-50%, -50%);
        padding: 0px;
        font-size: 50px;
    }

    .card-1 {
        top: 55%;
        left: 36%;
        transform: translate(-50%, -50%);
        color: white;
        width: 600px;
        padding: 0px;
        font-size: 20px;
    }

    .join {
        padding-top: 45%;
    }

    .india {
        height: 650px;
    }

}

@media screen and (max-width: 992px) {
    .main-banner {
        height: 780px;
    }

    .map-overlay {
        left: 45%
    }

    .card-1 {
        left: 45%;
    }

    .play {
        height: 150px;
        left: 50%;
    }

    .ud {
        width: 100%;
    }

    .join {
        padding-top: 40%;
    }
}

@media screen and (max-width: 768px) {

    .main-banner {
        height: 750px;
    }

    .ud {
        width: 100%;
    }

    .kfont h5 {
        font-size: 17px !important;
    }

    .map-overlay {
        left: 50%;
        /* font-size: 40px;
        width: 300px; */
    }

    .card-1 {
        top: 55%;
        left: 30%;
        font-size: 20px;
        width: 300px;
    }

    
    .play {
        top: 85%;
        left: 40%;
        width: 400px;
    }
    .play img{
        height: 55px;
    }

    .join {
        padding-top: 40%;
    }

    .steps {
        margin-top: 80px;
    }

    .card {
        max-width: 50rem !important;
    }

    .india {
        height: 800px;
    }
}

@media screen and (max-width:625px) {

    .main-banner {
        height: 600px;
    }

     .main-cap {
        text-align: center !important;
        padding: 0% !important;
    } 

    .map-overlay {
        top: 15%;
        /* left: 25%; */
        /* font-size: 30px;*/
        width: 450px; 
    }

    .card-1 {
        top: 60%;
        left: 40%;
        /* font-size: 15px;
        width: 300px; */
    }

    .play {
        top: 90%;
        /* left: 30%; */
        /* width: 300px; */
    }

    .play img {
        /* height: 40px; */
    }

    .india {
        height: 750px;
    }

    .join {
        padding-top: 45%;
    }

}

@media screen and (max-width:525px) {
    .map-overlay {
        top: 15%;
        left: 35%;
        font-size: 30px;
        width: 250px;
    }

    .card-1 {
        top: 55%;
        left: 43%;
        font-size: 15px;
        width: 300px;
    }

    .play {
        top: 85%;
        left: 40%;
        width: 300px;
    }
}

@media screen and (max-width:425px) {

    #carouselExampleDark .carousel-control-prev,
    #carouselExampleDark .carousel-control-next {
        display: none;
    }

    .steps {
        margin-top: 0px;
    }

    .main-banner {
        height: 650px;
    }

    .map-overlay {
        top: 15%;
        left: 35%;
        font-size: 30px;
        width: 250px;
    }

    .card-1 {
        top: 55%;
        left: 43%;
        font-size: 15px;
        width: 300px;
    }

    .play {
        top: 85%;
        left: 40%;
        width: 300px;
    }
}

@media screen and (max-width:375px) {
    .map-overlay {
        left: 40%;
    }

    .card-1 {
        left: 48%;
    }

    .play {
        top: 85%;
        left: 45%;
    }

    #pipe {
        display: none;
    }
}

@media screen and (max-width:320px) {

    .map-overlay {
        left: 45%;
    }

    .card-1 {
        top: 55%;
        left: 45%;
        width: 250px;
    }

    .play {
        left: 50%;
        width: 350px;
    }


}